@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html { box-sizing: border-box; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }

*, *::before, *::after {
  box-sizing: inherit;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 0;
}

.skip-links a {
  position: absolute;
  top: -10em;
}

body{
  margin: 0;
  text-align: center;
}

main {
  overflow: hidden;
}

header {
  text-align: center;
}

.header-img {
  width: 139px;
  opacity: 0.5;
}

li {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  display: inline;
  margin-right: .5em;
  margin-left: .5em;
  font-size: 1.15em;
}

li:hover {
  border-bottom: 2px solid #cb3066;
  padding-bottom: 5px;
}

ul {
  text-align: center;
  padding-left: 0;
  margin-bottom: 2em;
}

.project-box {
  display: inline-block;
  position: relative;
  margin: 0 5px 10px 5px;
}


a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.45em;
  border-bottom: 2px solid #f8bcbb;
  padding-bottom: 5px;
}

h3 {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  text-align: left;
  margin-bottom: 0 12% 7px 12%;
}

h4 {
  font-family: "orator-std",sans-serif;
  font-size: 1em;
  text-align: left;
  margin: 0;
}

h5 {
  font-family: "orator-std",sans-serif;
  font-size: 0.75em;
  text-align: left;
  margin-top: 0;
}

h2:hover {
  border-bottom: 2px solid #cb3066;
  padding-bottom: 5px;
}

.about-header {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  font-size: 1.45em;
  text-align: center;
}

.about-p {
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 0 1em 1em 1em;
}

.project-des {
  text-align: justify;
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
}

.project-caption {
  text-align: center;
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
  margin: 50px 0;
  font-size: 13px;
}

.button {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  border-bottom: 2px solid #f8bcbb;
  padding-bottom: 5px;
}

.button:hover {
  border-bottom: 2px solid #cb3066;
  padding-bottom: 5px;
}

.project-hero {
  width: 100%;
}

.about-text {
  margin-bottom: 2em;
}

.about-pic {
  padding: 0 1em 1em 1em;
  overflow: hidden;
}

.about-pic-1 {
  float: left;
  width: 100%;
}

.about-pic-2 {
  float: right;
  padding-top: .55em;
}

.about-pic-3 {
  float: left;
  padding-top: .55em;
}


footer {
  background-color: #f6f5c1;
  margin-top: 1em;
  padding: 1em;
}

.sm-icon {
  margin: 0 10px 5px 10px;
}

.foot-text {
  font-size: 12px;
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
}

@media only screen and (min-width: 20em) {

  .about-p {
    padding: 0 1.5em 1.5em 1.5em;
  }

  .about-pic {
    padding: 0 1em 1em 1em;
    overflow: hidden;
  }

  .about-pic-1 {
    float: left;
    width: 58%;
  }

  .about-pic-2 {
    float: right;
    padding-top: 0;
    width: 40%;
  }

  .about-pic-3 {
    float: right;
    padding-top: 1em;
    width: 36%;
  }
}

@media only screen and (min-width: 20em) {
  main {
    margin: 2em 30px;
  }
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {
  .project-pic-1 {
    float: right;
    width: 40%;
    margin: 5px 15px;
  }

  .project-des {
    float: left;
    width: 50%;
    margin-bottom: 29px;
  }

  .project-pic-2 {
    width: 29%;
    display: inline;
  }
}


@media only screen and (min-width: 46em) {

  main {
    margin: 5em 60px;
  }

  .about-text {
    float: left;
    width: 50%;
  }

  .about-pic {
    padding: 0 1em 1em 1em;
    overflow: hidden;
  }

  .about-pic-1 {
    float: right;
    width: 100%;
    padding-top: 4em;
  }

  .about-pic-2 {
    float: right;
    padding-top: 1em;
    width: 50%;

  }

  .about-pic-3 {
    float: right;
    padding-top: 1.5em;
    width: 50%;
    padding-right: 10%;
  }

  .button {
    font-size: 1.5em;
    margin-top: .5em;
  }
}

@media only screen and (min-width: 63em) {

  main {
    margin: 5em 60px;
  }

  .project-box {
    width: 40%;
  }

  h2 {
    top: 35%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
  }

  .about-text {
    float: left;
    width: 40%;
  }

  .about-pic {
    padding: 0 1em 1em 1em;
    overflow: hidden;
  }

  .about-pic-1 {
    float: left;
    width: 55%;
    padding-top: 4em;
  }

  .about-pic-2 {
    float: left;
    padding-top: 4em;
    width: 45%;
    padding-left: 1%;
  }

  .about-pic-3 {
    float: left;
    padding-top: 1em;
    padding-right: 0;
    width: 29%;
    margin-left: 10%;
  }

  .button {
    font-size: 1.5em;
    margin-top: .5em;
  }
}

@media only screen and (min-width: 65em) {

  main {
    margin: 5em 100px;
  }

  .button {
    font-size: 1.5em;
    margin-top: 4em;
  }
}
