@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html { box-sizing: border-box; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }

*, *::before, *::after {
  box-sizing: inherit;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 0;
}

.skip-links a {
  position: absolute;
  top: -10em;
}

body{
  margin: 0;
  text-align: center;
}

main {
  overflow: hidden;
}

header {
  text-align: center;
  background-color: #fff;
  border-bottom: 2px solid #faf183;
  margin-top: 1em;
  padding-bottom: 1em;

}

.header-img {
  width: 200px;
  padding-top: 20px;
  padding-bottom: 15px;
}

li {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  display: inline;
  margin-right: .5em;
  margin-left: .5em;
  font-size: 1.15em;
}

li:hover {
  border-bottom: 2px solid #cb3066;
  padding-bottom: 5px;
}

ul {
  text-align: center;
  padding-left: 0;
  margin-bottom: 2em;
}

.project-box {
  display: inline-block;
  position: relative;
  margin: 0 5px 10px 5px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.35em;
  border-bottom: 2px solid #f8bcbb;
  padding-bottom: 5px;
}

h3 {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  text-align: left;
  margin-bottom: 0 12% 7px 12%;
}

h4 {
  font-family: "orator-std",sans-serif;
  font-size: 1em;
  text-align: left;
  margin: 0;
}

h5 {
  font-family: "orator-std",sans-serif;
  font-size: 0.75em;
  text-align: left;
  margin-top: 0;
}


.about-header {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  font-size: 1.45em;
  text-align: center;
  padding: 0 1em 1em 1em;
}

.about-p {
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
  text-align: justify;;
  padding: 1em 1em 1em 1em;
}

.contact-p {
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
  text-align: justify;
}

.project-des {
  text-align: justify;
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
  margin-bottom: 60px;
}

.project-pic-1 {
  width: 100%;
}

.project-pic-2 {
  width: 100%;
}

.project-pic-3 {
  width: 100%;
  padding-top: 20px;
}

.button {
  font-family: "orator-std",sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  text-align: center;
  border-bottom: 2px solid #f8bcbb;
  padding-bottom: 5px;
}

.button:hover {
  border-bottom: 2px solid #cb3066;
  padding-bottom: 5px;
}

.button-container {
  text-align: center;
  margin-top: 50px;
}

.project-box:hover h2 {
  border-bottom: 2px solid #cb3066;
  padding-bottom: 5px;
}

.project-box:hover .project-hero {
  opacity: 1;
}

.project-hero {
  width: 100%;
  opacity: 0.6;
}

.about-text {
  margin-bottom: 2em;
}

.about-pic-1 {
  width: 100%;
  padding-bottom: 2em;
}

.contact-img {
}

.social-media-preview {
  margin: 20px 0;
  padding: 0 3px;
}

footer {
  background-color: #fff;
  border-top: 2px solid #faf183;
  margin-top: 1em;
  padding: 1em;
}

.social-media {
  margin-top: 20px;
}

.sm-icon {
  margin: 0 15px 5px 10px;
  width: 27px;
}

.foot-text {
  font-size: 12px;
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
}

@media only screen and (min-width: 20em) {
  main {
    margin: 2em 30px;
  }

  .project-pic-2 {
    width: 32%;
  }

.about-p {
  padding: 0 1.5em 1.5em 1.5em;
  }

.about-pic-1 {
  float: right;
  width: 100%;
  }
}

@media only screen and (min-width: 25em) {

  .contact-img {
    width: 100%;
  }

  .social-media-preview {
    margin: 20px 0;
    padding: 0 3px;
    width: 32%;
  }

}

@media only screen and (min-width: 38em) {

  .row-of-3 {
    clear: both;
    padding-top: 10px;
  }

  .project-pic-2 {
    width: 32%;
  }

  .project-hero {
    width: 50%;
  }

  .contact-p {
    float: left;
    width: 50%;
    margin-bottom: 20px;
  }

  .contact-img {
    margin-bottom: 10px;
    width: 40%;
    float: right;
  }

  .social-media-preview {
    margin: 20px 5px;
    width: 30%;
  }

  .contact-main {
    margin-bottom: 10px;
    overflow: hidden;
  }

  .about-header {
    text-align: left;
    padding: 0 1em 0em 1em;
  }

  .about-pic-1 {
    float: right;
    width: 35%;
    padding-left: .5em;
    margin-bottom: 5em;
  }
}


@media only screen and (min-width: 46em) {

  .project-pic-1 {
    float: right;
    width: 39%;
    margin: 20px 10px 2px 10px;
}

  .row-of-2 {
    clear: both;
  }

  .project-pic-3 {
    width: 70%;
  }

  .project-des {
    float: left;
    width: 50%;
    margin-bottom: 69px;
  }

  main {
    margin: 5em 90px;
  }

  .contact-main {
    margin-left: 30px;
    margin-right: 30px;
  }

  .contact-p {
    float: left;
    width: 40%;
    margin-bottom: 20px;
  }

  .contact-img {
    margin-bottom: 10px;
    width: 55%;
    float: right;
  }

  .about-p {
    float: left;
    width: 50%;
  }

  .about-pic-1 {
    float: right;
    width: 50%;
    padding-top: 0em;
  }

  .button {
    font-size: 1.5em;
    margin-top: .5em;
  }
}

@media only screen and (min-width: 63em) {

  main {
    margin: 5em 60px;
  }

  .project-box {
    width: 45%;
  }

  .project-hero {
    width: 100%;
  }

  h2 {
    top: 35%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
  }

  .about-p {
    float: left;
    width: 45%;
  }

  .about-pic-1 {
    float: right;
    width: 45%;
    margin: 0em 1em 6em 1em;
  }

  .button {
    font-size: 1.5em;
    margin-top: .5em;
  }

  .project-pic-3 {
    width: 49%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 65em) {

  main {
    margin: 5em 200px;
  }

  .button {
    font-size: 1.5em;
  }

  .project-pic-1 {
    margin-left: 38px;
  }

  .project-pic-2 {
    width: 32%;
    padding-left: 7px;
    padding-right: 7px;
  }

  .row-of-3 {
    clear: both;
  }

  .about-pic-1 {
    float: right;
    width: 47%;
    margin: 0em 0em 1em 0em;
  }

  .about-p {
    width: 53%;
  }

  .project-box {
    width: 45%;
  }

  .project-hero {
    width: 100%;
  }
}

@media only screen and (min-width: 68em) {
  main {
    margin: 5em 200px;
  }

  .project-pic-1 {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .project-pic-2 {
    width: 32%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .project-des {
    float: left;
    width: 50%;
    margin-bottom: 45px;
  }

  .about-pic-1 {
    float: right;
    width: 45%;
    margin: 0em 2em 4em 1em;
  }

  .about-p {
    width: 48%;
  }
}

@media only screen and (min-width: 100em) {

  main {
    margin: 5em 400px;
  }

  .about-pic-1 {
    width: 45%;
    margin: 0em 0em 4em 4em;
  }

}

@media only screen and (min-width: 117em) {
  .about-pic-1 {
    width: 40%;
    margin: 0em 2em 4em 9em;


}
