<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="Celena Stefanie's portfolio website. Feel free to contact me!">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="twitter:card" content="Algonquin College Design Student with a mean dog obsession.">
  <meta name="twitter:title" content="Celena Stefanie Designs">
  <meta name="twitter:url" content="https://celenastefanie.ca">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="http://fullurl.com/to-this/image.jpg">
  <script src="https://use.typekit.net/uwk7qhx.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ul class="skip-links">
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#nav">Jump to navigation</a></li>
  <li><a href="#footer">Jump to footer</a></li>
</ul>

<header itemscope itemtype="https://schema.org/CreativeWork">
  <a href="{{site.baseurl}}"><img itemprop="image" class="header-img" src="{{site.baseurl}}/images/header.png" alt="Celena Stefanie Designs"></a>
    <ul>
      <li><a href="{{site.baseurl}}/about">About</a></li>
      <li><a href="{{site.baseurl}}/index">Projects</a></li>
      <li><a href="{{site.baseurl}}/contact">Contact</a></li>
    </ul>
  </nav>
</header>

{{content}}

<footer id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person" id="footer">
  <div class="social-media">
    <a href="https://www.instagram.com/celenastefanie/"><img itemprop="image" class="sm-icon" src="{{site.baseurl}}/images/instagram.png" alt="Instagram"></a>
    <a href="https://ca.linkedin.com/in/celena-dick-0a8608113"><img itemprop="image" class="sm-icon" src="{{site.baseurl}}/images/linkedin.png" alt="LinkedIn"></a>
    <a href="http://celenastefanie.tumblr.com"><img itemprop="image" class="sm-icon" src="{{site.baseurl}}/images/tumblr.png" alt="Tumblr"></a>
    <a href="https://www.behance.net/dick0222ccd1"><img itemprop="image" class="sm-icon" src="{{site.baseurl}}/images/behance.png" alt="Behance"></a>
  </div>
  <p class="foot-text">© <span itemprop="name">Celena S. Dick 2016</p>
</footer>

  <script src="{{site.baseurl}}/js/main.js"></script>
</body>
</html>
